@mixin button($color:green) {
  height: 24px;
  min-width: 24px;
  padding: 7px;

  text-align: center;

  display: block;


  color: rgba(0,0,0,0.7);

  & i {
    pointer-events: none;
    font-size: 16px;
  }

  &:active, &.active {
    color:  $color;
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}