.carousel {
  position: relative;
  height: 650px;
  width: 100%;

  overflow: hidden;
  background-image: url('../images/car1.jpg');
  background-size: cover;
  background-position: center;

  & .carousel-myinner {
    height: 100%;
    width: 100%;

    // background-color: rgb(37, 37, 37);

    & .carousel-myitem {
      width: 100%;
      height: 100%;
    }
  }

  & .car-arrow {
    position: absolute;
    top: 50%;

    & i {
      font-size: $main_font*2;
    }
  }

  & .prev-arrow {
    left: 1.5%;
  }

  & .next-arrow {
    right: 1.5%;
  }
}

.myitem {
  width: 100%;
  height: 500px;
}