.carousel {
  position: relative;
  height: 650px;
  width: 100%;

  overflow: hidden;
  // background-image: url('../images/car1.jpg');
  background-size: cover;
  background-position: center;

  & .carousel-myinner {
    height: 100%;
    width: 300%;

    display: flex;

    position: relative;

    // overflow: hidden;

    // background-color: rgb(37, 37, 37);

    & .carousel-myitem {
      width: 100%;
      height: 100%;

      // position: absolute;
      // top: 0;
      // left: 0;

      background-size: cover;

      & img {
        height: 100%;
      }

      & .active {
        margin-right: 10px;
      }
    }
  }

  & .car-arrow {
    position: absolute;
    top: 50%;

    & i {
      pointer-events: none;
      font-size: $main_font*2;
    }
  }

  & .prev-arrow {
    left: 1.5%;
  }

  & .next-arrow {
    right: 1.5%;
  }
}
